/* DashboardMatch.module.css */
.parentContainer {

}

.matchesContainer {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 0.4fr)); /* Creates three columns */
    max-width: 99%;
    
    margin-bottom: 20px;
    
}

.matchItem {
   transform: scale(0.98);
  
}

.title {
    margin-left: 20px;
    margin-bottom: 5px;
    border: 0px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}.date {
    margin-right: 20px;
    margin-bottom: 0px;
}