@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.container {
  padding: 20px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  font-family: 'DM Sans', sans-serif;
}

.header {
  text-align: left;
  margin-bottom: 10px;
}

.header h1 {
  font-size: 25px;
  font-weight: 550;
  margin-bottom: 60px;
}

.header h2 {
  font-size: 65px;
  font-weight: 600;
  margin-bottom: 20px;
}

.carousel {
  display: flex;
  overflow-x: auto;
  margin-bottom: 30px;
  padding: 10px 0;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}

.mainContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.matchesSection {
  width: 70%;
}

.rosterContainer {
  width: 28%;
  padding-left: 5%;
  font-family: 'DM Sans', sans-serif;
  position: relative;
  top: -25px;
}

.logo {
  width: 30px;
  height: 30px;
  object-fit: contain;
  margin-right: 8px;
}

.matchDate {
  font-size: 15px;
  font-weight: 500;
  color: #000000;
}

.matchSection {
  margin-bottom: 20px;
}

.matchContainer {
  width: 100%;
  box-sizing: border-box;
}

.matchHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.matchTileContainer {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
  gap: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.matchSection h3 {
  font-size: 28px;
  color: #2774ae;
  font-weight: 550;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
}

.matchSection .date {
  font-size: 20px;
  font-weight: 550;
  color: #2774ae;
  margin-bottom: 0;
  margin-left: 10px;
  white-space: nowrap;
  flex-shrink: 0;
}

.matchTypeHeader h4 {
  font-size: 20px;
  margin: 10px 0 0 0;
  font-weight: normal;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  border: 1px solid #dedede;
  border-radius: 20px;
  padding: 8px 15px;
  margin-right: 10px;
  background-color: #ffffff;
  white-space: nowrap;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  transition:
    background-color 0.3s,
    box-shadow 0.3s,
    border 0.3s;
  cursor: pointer;
}

.cardContent {
  display: flex;
  align-items: center;
}

.card:hover {
  background-color: #f7f7f7;
}

.active {
  background-color: #2774ae;
  color: #ffffff;
  border: 1px solid #2774ae;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition:
    background-color 0.3s,
    box-shadow 0.3s,
    color 0.3s;
}

.active .matchDate {
  color: #ffffff;
}

.active:hover {
  color: #000000;
}

.active:hover .matchDate {
  color: #000000;
}
