.table{
    width: 100%;
}

.TH{
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    color: grey;
    padding-left: 5px;
}

.IMG{
    max-width: 50px; /* Adjust the width as needed */
    height: auto; /* Ensures the aspect ratio is maintained */
    display: block; /* Removes extra space around the image */
    width: 100%;
}

.TD{
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    padding: 8px;
    border-bottom: solid 0.2px #EDEDED;
}

.button{
    background-color: white;
    border: none;
}
.button img {
    cursor: pointer;
}
.playButton{
    width: 20px;
    height: 20px;
}

