.table{
    width: 100%;
}

.TH{
    font-size: 1vw;
    font-weight: 500;
    text-align: left;
    color: grey;
    padding-left: 0.25vw;
}

.IMG{
    max-width: 2.7vw;
    height: auto; 
    display: block; 
    width: 100%;
}


.TD{
    font-size: 1.4vw;
    font-weight: 600;
    text-align: left;
    padding: 0.8vw;
    padding-top: 3.6vh;
    padding-bottom: 3.6vh;
    border-bottom: solid 0.02vw #EDEDED;
}

.TD2{
    font-size: 1.4vw;
    font-weight: 600;
    text-align: left;
    padding-top: 3.6vh;
    padding-bottom: 3.6vh;
    border-bottom: solid 0.02vw #EDEDED;
}

.button{
    background-color: white;
    border: none;
}
.button svg {
    cursor: pointer;
}

