.container {
  /* min-height: 100vh; */
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  /* justify-content: center; */
  align-items: center;
}

.title {
  margin: 0 0 1rem;
  line-height: 1.15;
  font-size: 3.6rem;
}

.titleBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftTitle {
  font-size: 1vw;
  padding-left: 2%;
}

.rightTitle {
  padding-right: 2%;
}

.rightTitle button {
  width: 100%;
    padding: 10px;
    background-color:#2C61AB;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.rightTitle button:hover {
  background-color: #0056b3;
}