@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.matchTilesContainer {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    padding: 1vw;
    box-sizing: border-box;
}



.matchInfoContainer {
    border: 0.13vw solid #DEDEDE;
    border-radius: 1.2vw;
    font-family: 'DM Sans', sans-serif;
    width: 27vw; /* Adjusted to fit within the container */
    margin: 1vw; /* Margin between tiles */
    padding: 1vw; /* Padding inside each tile */
    box-sizing: border-box;
}

.containerTitle {
    font-size: 1.1vw;
    font-weight: 350;
    padding-bottom: 0.2vw;
}

.containerInfo {
    font-size: 1.4vw;
    font-weight: 600;
}

.playerInfo {
    display: flex;
    font-size: 1.5vw;
    font-weight: 600;
    position: relative;
}

.playerInfoName {
    padding-left: 1vw;
    padding-right: 2vw;
    display: flex;
    font-size: 1.3vw;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
}

.playerInfoScore {
    position: absolute;
    display: flex;
    font-size: 1.4vw;
    font-weight: 600;
    padding-left: 21vw ;
    letter-spacing: 0.5vw;
}

.playerSchoolImg {
    width: 2.5vw;
    padding: 0;
}

.playerSchoolImgcontainer {
    max-width: 4vw; /* Adjust max-width using viewport units */
    height: 4vw; /* Set the desired height */
    padding-left: 1vw;
    display: flex;
    justify-content: center; /* Center the image vertically */
    align-items: center; /* Center the image horizontally */
    overflow: hidden; /* Ensure the image doesn't overflow the container */
}
