@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.matchTilesContainer {
    display: flex;
    width: 100%;
}

.matchInfoContainer {
    border: 1px solid #DEDEDE;
    border-radius: 24px;
    font-family: 'DM Sans', sans-serif;
    width: 100%; /*use to be 38%, idk why, may bug?*/
    margin: 8px;
    padding: 1em;
}
.matchTopLine {
    display: flex;
    justify-content: space-between; /* This spreads the child elements out */
    align-items: center; /* This vertically centers the items in case they have different heights */
}
.containerTagged{
    font-size: 1vw;
    font-weight: 350;
    color: white;
    background-color: #2774AE;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.containerTitle {
    font-size: 1.1vw;
    font-weight: 350;
    padding-bottom: 2px;
}

.containerInfo {
    font-size: 1.8vw;
    font-weight: 600;
}

.playerInfo {
    display: flex;
    font-size: 1.5vw;
    font-weight: 600;
    position: relative;
}

.playerInfoName {
    padding-left: 1em;
    padding-right: 5em;
    display: flex;
    font-size: 1.8vw;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
}

.playerInfoScore {
    position: absolute;
    display: flex;
    font-size: 1.8vw;
    font-weight: 600;
    left: 85%;
    letter-spacing: .5em;
}

.playerSchoolImg {
    width: 1.5em;
    padding: 0;
}

.playerSchoolImg img {
    width: 100%; /* Set the width of the image to 100% of its container */
    height: auto; /* Automatically adjust the height to maintain aspect ratio */
  }