.pointsList {
  width: 100%;
  background-color: #fafafa; /* Light gray background color */
  border-collapse: collapse;
  border-radius: 15px;
  overflow: hidden;
}

.pointsList th,
.pointsList td {
  padding: 12px 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  color: #333; /* Text color */
}

.pointsList th {
  background-color: #fafafa;
  font-weight: normal;
}

.pointsListItem {
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.pointsListItem:hover {
  background-color: #e9e9e9;
}



.pointsList tbody tr:hover {
  background-color: #e2e2e2;
}

.buttonn {
  padding: 5px 20px;
  cursor: pointer;
  background-color: #fafafa;
  border: none; /* Remove the default border */
  border-left: 5px solid #b0b0b0; /* Add left border */
  border-bottom: 5px solid #b0b0b0; /* Add bottom border */
  font-weight: 400;
  font-size: 0.89rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.buttonn:hover {
  background-color: #e9ecef;
  border-color: #b8c2cc;
}

.buttonn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
