.pointsList {
  width: 20vw; /* Use viewport width for full width */
  border-collapse: collapse;
  overflow: hidden;
}

.playerSchoolImg {
  max-width: 2.3vw; /* Adjust max-width using viewport units */
  display: block;
  width: 2.3vw;
  padding-bottom: 0.85vw;
  padding-top: 0.85vw;
}

.pointsList th,
.pointsList td {
  padding: 0.205vw; /* Adjust padding using viewport units */
  text-align: center;
  border-bottom: 0.1vw solid #ddd; /* Adjust border width using viewport units */
  font-size: clamp(0.95vw, 1.15vw, 1.75vw); /* Adjust font size with minimum, preferred, and maximum values using clamp() */
  color: #333; /* Text color */
}

.pointsList th {
  font-weight: normal;
}

.pointsListItem {
  cursor: pointer;
}

.pointsListItem:hover {
  background-color: #e9e9e9;
}

.pointsList tbody tr:hover {
  background-color: #e2e2e2;
}



.buttonn {
  padding: 0.625vw 2.5vw; /* Adjust padding using viewport units */
  cursor: pointer;
  background-color: #fafafa;
  border: none; /* Remove the default border */
  border-left: 0.313vw solid #b0b0b0; /* Adjust border width using viewport units */
  border-bottom: 0.313vw solid #b0b0b0; /* Adjust border width using viewport units */
  font-weight: 400;
  font-size: 1.3vw; /* Adjust font size using viewport units */
  line-height: 1.0vw;
  border-radius: 0.25vw; /* Adjust border radius using viewport units */
}

.buttonn:hover {
  background-color: #e9ecef;
  border-color: #b8c2cc;
}

.IMG {
  max-height: 4vw;

  max-width: 4vw; /* Adjust max-width using viewport units */

  display: block;
  width: 4vw;

}

.buttonn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.5vw rgba(0, 123, 255, 0.25); /* Adjust box shadow using viewport units */
}
