.pointsList {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  border-radius: 15px; /* Increase border-radius for more rounded corners */
  overflow: hidden; /* Ensure the border radius is applied correctly */
  white-space: nowrap; /* Prevent wrapping */
}


.pointsList th,
.pointsList td {
  padding: 8px 4px; /* Adjust padding as needed */
  white-space: nowrap; /* Prevent wrapping */
  text-align: center;
  border-bottom: 5px;
  font-size: 14px; /* Adjust font size as needed */
  border-bottom: 1px solid #dddddd; /* Add border between rows */
}

.pointsList th {
  background-color: #ffffff;
  white-space: nowrap; /* Prevent wrapping */
  text-align: center;
  font-weight: normal; /* Remove bold styling */
}

.pointsListItem {
  transition: background-color 0.3s ease-in-out;
}

.pointsListItem:hover {
  background-color: #e9e9e9;
}

.pointsList tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.pointsList tbody tr:hover {
  background-color: #e2e2e2;
}

.expandButtonCell {
  text-align: left;
  vertical-align: middle; /* Align content vertically center */
}

.expandButton {
  padding: 8px 16px;
  margin: 4px 0;
  cursor: pointer;
  background-color: #ffffff;
  border: none;
  font-weight: bold;
}

.expandButton:hover {
  background-color: #f0f0f0;
}

.collapseButton {
  padding: 8px 16px;
  margin: 4px 0;
  cursor: pointer;
  background-color: #ffffff;
  border: none;
  font-weight: bold;
}

.collapseButton:hover {
  background-color: #f0f0f0;
}

.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.button5 {
  border-radius: 50%;
}
