.infoContainer {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}


.playerContainer {
    border-bottom: 0.5px solid #DEDEDE;
    padding-top: 2%;
    padding-bottom: 2%;
} 

.playerContainer:first-child {
    border-top: 0.5px solid #DEDEDE;
}

.playerContainer:last-child {
    border-bottom: 0.5px solid #DEDEDE;
}

.playerImage {
    width: 12%;
    height: 12%;
    border-radius: 30%;
}

.playerName {
    /* padding-bottom: 20%; */
    font-size: 14px;
}

.textContainer {
    font-weight: 550;
    flex-direction: column;
    justify-content: center; 
    display: flex;
    padding-left: 3%;
    letter-spacing: .5px; 

}