.scoreboard {
    width: 100%; 
    height: 100%;
    display: flex;
  }
  
  .scoreboard table{
    background-color: gainsboro;
    /* border: 1px solid #eaeaea;
    border-radius: 10px; */
    width: 100%; /* Make the table fill the available space */
    border-collapse: collapse; /* Remove default cell spacing */
    margin: 20px; /* Add margin for spacing */
  }
  
  .highlight {
    font-weight: bold; 
  }
  
  .arrow {
    /* Define styles for an arrow here, for example: */
    content: "\2192"; /* Unicode arrow right character */
    margin-left: 5px; /* Adjust spacing as needed */
    /* Add any other styles for the arrow here */
  }
  
  .scoreboard tr{
    padding: 10px; /* Add padding for spacing within cells */
    text-align: center; /* Center text within cells */
    border: 1px solid #ddd; /* Add border for clarity */
  }