.scoreboard {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  padding: 8px;
  margin-top: 8px;
  background-color: transparent;
  font-weight: bold;
}

.scoreboard th,
.scoreboard td{
  text-align: left;
  /* margin: 10px; */
  padding-top: 6px; /* Add padding for spacing within cells */
  padding-bottom: 6px;
  padding-left: 2px;
  padding-right: 2px;
}

.scoreboard th{
  font-weight: normal;
}

.table {
  border-collapse: collapse;
}

.pointScore {
  font-weight: bold;
  color: #8BB8E8;
}

.live {
  font-size: small;
  font-weight: normal;
}

.bullet {
  color: #8BB8E8;
  font-weight:bolder;
  /* font-size: large; */
}