.scoreboard {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 0.1vw solid #eaeaea;
  border-radius: 1.5vw;
  padding: 1vw;
  margin-top: 1vw;
  background-color: transparent;
  font-weight: bold;
}

.scoreboard th, 
.scoreboard td {
  text-align: left;
  font-size: 1.5vw;
  padding-left: 0.2vw;
  padding-right: 0.2vw;
}
.scoreboard td {
  padding-top: 0.5vw;
}

.scoreboard th {
  font-weight: normal;
  font-size: 1.3vw;
}

.table {
  border-collapse: collapse;

}

.pointScore {
  font-weight: bold;
  color: #8BB8E8;
  font-size: 1.5vw;
}

.live {
  font-size: 1.5vw;
  font-weight: normal;
}

.bullet {
  color: #8BB8E8;
  font-weight: bolder;
  font-size: 1.5vw;
}
