.container {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  height: 70vh; /* Full viewport height */
}



  .card {
    background-color: #ffffff;
    border-radius: 8px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    border: 1px solid #DEDEDE;
    padding: 20px;
    width: 35vw;
  }
  
  .card h2 {
    font-size: 1.5vw;
    margin-bottom: 15px;
    text-align: center; 
  }
  
  .card input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .card button {
    width: 100%;
    padding: 10px;
    background-color: #2C61AB;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .card button:hover {
    background-color: #237ad8;
  }

  .title {
    margin: 0 0 1rem;
    line-height: 1.15;
    font-size: 3.6rem;
  }
  
  .titleBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .leftTitle {
    font-size: 1vw;
    padding-left: 2%;
  }
  
  .rightTitle {
    padding-right: 2%;
  }
  
  .rightTitle button {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color:#2C61AB;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .rightTitle button:hover {
    background-color: #0056b3;
  }