.toolbar {
    background-color: #2774AE; /* Example background color */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 10rem;
}

.toolbar a {
    color: white;
    text-decoration: none;
    padding: 0 10px;
}

.toolbar a:hover {
    color: #ddd;
}

.name {
    font-size: 1.6rem;
    font-weight: 700;
}
