.container {
    /* min-height: 100vh; */
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    /* justify-content: center; */
    align-items: center;
}
  
.title {
  margin: 0 0 1rem;
  line-height: 1.15;
  font-size: 2.4rem;
}
  
.form{
  display: flex;
  flex-direction: column;
}

.form label select,
.form label input{
  margin-left: 0.5rem; /* Adjust the margin-left as needed */
}