.pointsList {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pointsListItem {
  border: 0.5px solid black; /* Add a black border */
  padding: 8px;
  margin: 4px;
  cursor: pointer;
}