.searchDropdown {
    color: black;
    position: static;
}

/* add media tag for mobile for "@media only" for the phone */

.hidden {
  display: none;
}

.loader {
    margin: auto;
    border: 5px solid #EAF0F6;
    border-radius: 50%;
    border-top: 5px solid #000000;
    width: 30px;
    height: 30px;
    animation: spinner 4s linear infinite;
  }
  
  @keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

