.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2774AE; /* Example background color */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10rem;
    z-index: 1000; /* Ensure it stays on top of other content */
}

.toolbar a {
    color: white;
    text-decoration: none;
    padding: 0 10px;
}

/* Adjustments for better visibility */
.toolbar a:hover {
    color: #ddd;
}

.name {
    font-size: 1.6rem;
    font-weight: bold;
}
